* {
  border: 0px solid black;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #2853dc ,#e7cf8b);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  min-height: 100vh;
}

main {
  background-color: rgba(255, 255, 255, 0.5);
  width: 700px;
  height: 700px;
  border-radius: 10px;
}